
migracion/.env

school-timetabling/vue/node_modules/

vue/.output/

shared-data/*

vue/public/samples/.~lock.horario_small.xlsx#

wails-desktop/build/

wails-desktop/bin/

wails-desktop/shared-data/

wails-desktop/internal/

wails-desktop/static/

HorariosDesktop-Windows.zip

golang/cmd/api/api

golang/api_bin

golang/api
